#####
## If generating JSON for multiple samples, replace '</full/file/path>' or 'null' with '<>', then complete vcf2maf.sample_list.tab. See
## ./backup_templates/vcf2maf.sample_list.template for examples. Be certain to provide a unique identifier under the 'run_uid' header to
## clearly distinguish samples/runs. If *optional* sample-specific values are desired, the appropriate key from this template may be used as
## a column header in vcf2maf.sample_list.tab (be careful to maintain tab-delimited format).
#####
inputVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to input VCF [e.g., /my/path/to/input.vcf]
refFasta: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to reference FASTA [e.g., /my/path/to/genome.fa.gz]
vepData: {
    class: Directory
    path: </full/directory/path/>   # Required directory; replace '</full/directory/path/>' with full path to VEP's base cache/plugin directory [e.g., /my/path/to/vep/]
outputMAF: null                     # Optional string; replace 'null' with output MAF filename; 'null' defaults to 'vep.maf'
vcfNormalID: null                   # Optional string; matched normal ID used in VCF's genotype column; 'null' defaults to 'NORMAL'
vcfTumorID: null                    # Optional string; tumor ID used in VCF's genotype column; 'null' defaults to 'TUMOR'
normalID: null                      # Optional string; the 'Matched_Norm_Sample_Barcode' to report in the MAF; 'null' defaults to 'vcfNormalID' setting.
tumorID: null                       # Optional string; the 'Tumor_Sample_Barcode' to report in the MAF; 'null' defaults to 'vcfTumorID' setting.
retainInfo: [
    - "COSMIC","CENTERS","CONTEXT","DBVS"  # Optional string array; double-quoted comma-delimited list of INFO fields to retain as extra columns in MAF; default keys and proper format are shown
bufferSize: null                    # Optional integer; 'null' defaults to '4000'
cacheVersion: null                  # Optional integer; version of offline cache to use with VEP (e.g. 75, 82, 86); 'null' defaults to locally installed version
customEnst: {
    class: File
    path: null			    # Optional file; list of custom ENST IDs that override canonical selection
mafCenter: null                     # Optional string; variant calling center to report in MAF; 'null' defaults to '.'
minHomVaf: null                     # Optional float; minimum allele fraction to call a variant homozygous when GT is undefined in VCF; 'null' defaults to '0.7'
ncbiBuild: null                     # Optional string; NCBI reference assembly of variants MAF. Available options are GRCh37 or GRCm38; 'null' defaults to 'GRCh37'
remapChain: {
    class: File
    path: null                      # Optional file; chain file to remap variants to a different assembly before running VEP
species: null                       # Optional string; Ensembl-friendly name of species. Available options are mus_musculus or homo_sapiens; 'null' defaults to 'homo_sapiens'
vepForks: null                      # Optional integer; number of forked processes to use when running VEP; 'null' defaults to '4'
